/*
* Template Name: Luxen Premium Hotel Template
* Author:2035 Themes
* Author URI:http://www.2035themes.com/luxen
* Version:1.0
*/

/* Table Of Content
1   - Import
2   - Global Css
3   - Header
4   - Slider
5   - About Info
6   - News
7   - Room
8   - Parallax
9   - Support
10  - Newsletter
11  - Footer
12  - Breadcrumb
13  - Accordion
14  - About Destination & Tab
15  - Sidebar
16  - Gallery
17  - Room List
18  - Quick reservation
19  - Room Single
20  - Contact Form
21  - Error Page
22  - Blog
23  - Comments
24  - Under Construction
*/

/*-----------------------------------------------------------------------------------*/
/*  Import
/*-----------------------------------------------------------------------------------*/

@import url("2035-reset.css");

@import url("font-awesome.min.css");

@import url("slicknav.css");

@import url(http://fonts.googleapis.com/css?family=Varela+Round);

@import url(http://fonts.googleapis.com/css?family=Muli:300,400,300italic,400italic);

@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);

body {
    margin: 0;
    padding: 0;
    font-family: "Muli", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #727272;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

/*-----------------------------------------------------------------------------------*/
/*  Global Css
/*-----------------------------------------------------------------------------------*/


#wrapper {
    width: 100%;
    height: auto;
}

.pos-center {
    text-align: center;
}

.pos-left {
    text-align: left;
}

.pos-right {
    text-align: right;
}

a {
    color: #000;
}

a:hover {
    color: #e4b248;
    text-decoration: none;
}

input:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

.rsp-img-center {
    margin: 0 auto;
}

.active-color {
    color: #e4b248;
}

h1 {
    font-family: Varela Round;
    font-size: 32px;
    line-height: 44px;
    color: #000;
    letter-spacing: 0.0825em;
}

h2 {
    font-family: Varela Round;
    font-size: 26px;
    line-height: 40px;
    color: #000;
    letter-spacing: 0.0825em;
}

h3 {
    font-family: Varela Round;
    font-size: 21px;
    line-height: 36px;
    color: #000;
    letter-spacing: 0.0825em;
}

h4 {
    font-family: Varela Round;
    font-size: 18px;
    line-height: 32px;
    color: #000;
    letter-spacing: 0.0825em;
}

h5 {
    font-family: Varela Round;
    font-size: 15px;
    line-height: 28px;
    color: #000;
    letter-spacing: 0.0825em;
}

h6 {
    font-family: Varela Round;
    font-size: 12px;
    line-height: 24px;
    color: #000;
    letter-spacing: 0.0825em;
}

.content{
    background: #fff;
    line-height: 25px;
}

.slicknav_menu {
    display:none;
}

/*-----------------------------------------------------------------------------------*/
/*  Header
/*-----------------------------------------------------------------------------------*/

.pre-header {
    font-size: 11px;
    background: #fff;
    height: 40px;
}

.pre-header ul, .pre-header p{
    padding-top: 8px;
}

.pre-header ul li {
    float: left;
    margin-right: 20px;
}

.pre-header i {
    padding-right: 5px;
}

.pre-link-box{
    line-height: 25px;
}
.pre-address-b{
    height: auto;
    padding-top: 4px;
}



.language-box {
    height: 40px;
    border-left:1px solid #f4f4f4;
}

.language-box ul{
    background: #fff;
    height: 40px;
    position: relative;
    z-index: 1;
    padding: 0;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    overflow: hidden;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.language-box ul:hover{
    height: 183px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.language-box ul li{
    float: none;
    margin: 0;
    padding: 0;
    font-size: 11px;
    border-bottom: 1px solid #f4f4f4;
    line-height: 25px;
}

.language-box ul li:last-child{
    border-bottom: 0;
}

.language-box ul li a{
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    padding-bottom: 10px;
}

.language-box ul li img{
    margin-right: 8px;
    margin-top: -3px;
}

.main-header {
    background: #f4f4f4;
    height: auto;
}

.main-header .logo {
    padding: 25px 0;
}

.main-header a {
    font-family: Varela Round;
}

.nav{
    position: relative;
}

/* SF Menu */
.sf-menu li a{
    font-family: Varela Round;
}

.sf-menu ul{
    position: absolute;
    display: none;
    top: 109px;
    left: 0px;
    z-index: 99;
}

.sf-menu ul li ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 100%;
    z-index: 99;
}

.sf-menu li:hover > ul, .sf-menu li.sf-menuHover > ul {
    display: block;
}

.sf-menu ul li {
    width: 100%;
    min-width: 200px;
}

.sf-menu .parent-menu ul {
    float: none;
}

.sf-menu .parent-menu {
    position: relative;
}

.sf-menu .parent-menu:after{
    content: "\f078";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #000 !important;
    font-size: 9px;
    padding-right: 0.5em;
    position: absolute;
    top: 47px;
    right: 16px;
}

.sf-menu .parent-menu:hover:after{
    content: "\f078";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #fff !important;
    font-size: 9px;
    padding-right: 0.5em;
    position: absolute;
    top: 47px;
    right: 16px;
}
/* SF Menu */

.sf-menu .parent-menu.active:after{
    content: "\f078";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #fff !important;
    font-size: 9px;
    padding-right: 0.5em;
    position: absolute;
    top: 47px;
    right: 16px;
}

.nav ul li {
    float: left;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.nav ul li:last-child{
    margin-right: 20px;
}

.nav ul li.active {
    background: #0c242e;
    position: relative;
}

.nav ul li:hover {
    background: #0c242e;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.nav ul li:hover a {
    color: #fff;
}

.nav ul.sf-menu > li:before {
    content: "";
    position: absolute;
    top: 73px;
    left: 50%;
    margin-left:-12px;
    height: 2px;
    width: 0px;
    background: #e4b248;
    border: none;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.nav ul.sf-menu > li:hover:before {
    content: "";
    position: absolute;
    top: 73px;
    left: 50%;
    margin-left:-12px;
    height: 2px;
    width: 25px;
    background: #e4b248;
    border: none;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.nav ul.sf-menu > li.active:before {
    position: absolute;
    top: 73px;
    left: 50%;
    height: 2px;
    width: 25px;
    background: #e4b248;
    border: none;
}

.nav ul li.active a {
    color: #FFF;
}

.nav ul li a {
    font-size: 11px;
    letter-spacing: 0.1525em;
    color: #000;
    padding: 47px 24px;
    display: inline-block;
}

.nav ul li.parent-menu a {
    padding-right: 32px;
}

.nav ul li ul li{
    background: #0c242e;
    line-height: 20px;
    border-bottom: 1px solid rgba(240,240,240, 0.05);
}

.nav ul li ul li:last-child{
    border-bottom: 0;
}

.nav ul li ul li a{
    display: inline-block;
    font-family: Varela Round !important;
    width: 100%;
    height: 100%;
    font-size: 11px;
    padding: 12px 20px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.nav ul li ul li a:hover{
    background: #e4b248;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

/* Alternative Menu */
#home .pre-header{
    background: url(../img/white-pattern.png) rgba(255,255,255,0.2);

}

#home .main-header{
    background: url(../img/white-pattern.png);
}

#home .nav ul li.active {
    background: rgba(0,0,0,0.6);
}

#home .nav ul li.active a {
    color: #e4b248;
}

#home .nav ul li a {
    color: #fff;
}

#home .sf-menu .parent-menu.active:after{
    color: #e4b248 !important;
}

#home .sf-menu .parent-menu:after{
    color:#fff !important;
}

#home .nav ul li:hover {
    background: rgba(0,0,0,0.6);
}

#home .nav ul li:hover a {
    color: #e4b248;
}

#home .sf-menu .parent-menu:hover:after{
    color: #e4b248 !important;
}

#home .nav ul li ul li a{
    color: #fff !important;
}

#home .nav ul li ul li{
    background: rgba(0,0,0,0.9);
}

#home .pre-header p{
    color: #C9C9CB;
}

#home .pre-header ul li a{
    color: #C9C9CB;
}

#home .language-box ul{
    background: transparent;
}

#home .language-box ul li{
    background: rgba(0,0,0,0.8);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    line-height: 25px;
}

#home .language-box ul li:first-child{
    background: transparent;
}

#home .language-box ul:hover li:first-child{
    background: rgba(0,0,0,0.8);
}

#home .language-box {
    border-left:1px solid rgba(255,255,255,0.1);
}
/* Alternative Menu */

.button-style-1 a {
    background: #e4b248;
    padding: 12px 20px;
    font-family: Varela Round;
    font-size: 12px;
    color: #FFF;
    letter-spacing: 0.0725em;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.button-style-1 i {
    padding-right: 12px;
}

.button-style-1 a:hover {
    background: #0c242e;
}

/*-----------------------------------------------------------------------------------*/
/*  Slider
/*-----------------------------------------------------------------------------------*/

.flex-direction-nav a:before {
    content: "\f104";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #000;
    font-size: 55px;
    padding-right: 0.5em;
    position: absolute;
    top: 10px;
    left: 0;
    opacity: 0.8;
}

.flex-direction-nav a.flex-next:before {
    content: "\f105";
}

.flex-direction-nav a:before:hover {
    opacity: 1;
}

.falsenav .flex-control-paging {
    display: none;
}

.flexslider ul.slides li, .flexslider-thumb ul.slides li{
    position: relative;
}

.flexslider ul li .slider-textbox{
    position: absolute;
    top: 20%;
    width: 100%;
    height: 100%;
    left: 0;
}

.slider-home .flexslider{
    height: 560px !important;
}

.slider-home .flex-viewport {
    height: 560px;
}

.slider {
    position: relative;
}

.slider-loading{
    background: #fff;
    z-index: 99999999999999999999;
}

.slider-loading .slides{
    display: none;
}

.slider-loading:after{
    content:url(../img/progress.gif);
    position: absolute;
    top: 30%;
    left: 50%;
    background: #fff;
}

.slider-bar{
    font-family: Varela Round;
    color:#fff;
    width: auto;
    height: 60px;
    background: rgba(0,0,0,0.7);
    font-size:20px;
    padding:20px 20px 0 20px;
}

.slider-triangle{
    width: 0;
    height: 0;
    border-top: 60px solid rgba(0,0,0,0.7);
    border-right: 40px solid transparent;
}

.slider-bar-under{
    font-family: Varela Round;
    color:#fff;
    width: auto;
    height: 35px;
    background: #e4b248;
    font-size:15px;
    padding:6px 20px 0 20px;
}

.slider-triangle-under{
    width: 0;
    height: 0;
    border-top: 35px solid #e4b248;
    border-right: 20px solid transparent;
}

.book-slider{
    position: absolute;
    bottom: 60px;
    width: 100%;
    height: 130px;
    padding: 30px 0;
    background: url(../img/slider-book-now.png);
}

.book-slider ul{
    display: inline-block;
}

.book-slider ul li label{
    text-align: left;
}

.book-slider ul li {
    float: left;
    margin-right: 55px;
}

.book-slider ul li.sec-input {
    margin-right: 40px;
}

.book-slider ul li:last-child{
    margin-right: 0;
}

.book-slider input, .book-slider select {
    height: 30px;
    border: solid 1px rgba(228, 178, 72, 0.6);
    background: transparent;
    color: #FFF;
    padding-left: 10px;
}

.sod_select{
    width: 75px;
    padding: 0;
    padding-left: 10px;
    border: solid 1px rgba(228, 178, 72, 0.6);
    height: 30px;
    background: transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fff;
    padding-top: 8px;
}

.sod_select.open{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.sod_select .sod_list_wrapper
{
    border: solid 1px rgba(228, 178, 72, 0.6);
}

.book-slider input, .book-slider ul li.li-input{
    width: 200px;
}

.book-slider select, .book-slider ul li.li-select{
    width: 75px;
}

label {
    width: 100%;
    color: #FFF;
    font-size: 10px;
    letter-spacing: 0.0725em;
}

::-webkit-input-placeholder {
    color: #FFF;
    font-size: 11px;
}

.book-slider .button-style-1 {
    margin-top: 28px;
    padding: 1px 20px;
}

.bottom-book-slider {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: url(../img/bottom-slider-book-now.png);
    border-bottom: solid 3px #e4b248;
}

.bottom-book-slider {
    color: #FFF;
    font-size: 12px;
    letter-spacing: 0.0725em;
}

.bottom-book-slider ul li {
    float: left;
    width: 25%;
    border-right: solid 1px rgba(255, 255, 255, 0.1);
}

.bottom-book-slider ul li:last-child {
    border-right: none;
}

.bottom-book-slider i {
    font-size: 13px;
    color: #e4b248;
    padding-right: 20px;
}

.date-selector::-webkit-input-placeholder{
    color: #e4b248;
}

.date-selector:-moz-placeholder{
    color: #e4b248;
}

.date-selector::-moz-placeholder{
    color: #e4b248;
}

.date-selector:-ms-input-placeholder{
    color: #e4b248;
}

.reservation-confirm{
    max-width: 700px;
    padding:0 20px;
    margin:0 auto;
    margin-top: 20px;
    font-family: Varela Round;
    font-size: 16px;
    color: #fff;
}

.reserve-form-area ul{
    list-style: none;
}

/*-----------------------------------------------------------------------------------*/
/*  About Info
/*-----------------------------------------------------------------------------------*/

.title-shape {
    margin-top: 15px;
    margin-bottom: 30px;
}

.about-title p {
    font-size: 15px;
    color: #666;
    width: 80%;
    margin: 0 auto;
}

.title-style-1 hr {
    width: 23px;
    height: 1px;
    background: #e4b248;
    float: left;
    margin: 0;
    margin-top: 13px;
}

.title-style-1 h5{
	line-height: 15px;
}

.title-style-2 hr {
    width: 23px;
    height: 2px;
    background: #e4b248;
    margin: 0 auto;
    margin-top: 13px;
}

.flex-control-paging li a {
    width: 10px;
    height: 10px;
    background: #f0f0f0;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important;
}

.flex-control-paging li a.flex-active {
    background: #e4b248;
}

/*-----------------------------------------------------------------------------------*/
/*  News
/*-----------------------------------------------------------------------------------*/

.news-box {
    padding-bottom: 10px;
    padding-top: 25px;
    border-bottom: solid 1px #f1f1f1;
    clear: both;
}

.news-box:first-child {
    padding-top: 0;
}

.news-box:last-child {
    border: none;
}

.news-date {
    font-size: 10px;
}

.date-day {
    background: #e4b248;
    border-radius: 5px;
    height: 40px;
    width: 50px;
    display: inline-block;
    position: relative;
    font-family: Verdana;
    font-size: 20px;
    color: #FFF;
    text-align: center;
    padding-top: 7px;
}

.date-day hr {
    position: absolute;
    top: 0px;
    height: 1px;
    width: 50px;
    background: #FFF;
    border: none;
    opacity: 0.2;
}

.news-date {
    width: 55px;
}

.news-time {
    width: 20%;
}

.news-content {
    width: 80%;
}

.home-news h6{
    font-size: 13px;
}

/*-----------------------------------------------------------------------------------*/
/*  Room
/*-----------------------------------------------------------------------------------*/

.home-room-box {
    margin-bottom: 60px;
}

.home-room-details ul li {
    margin-top: 5px;
    float: left;
    margin-right: 17px;
}

.home-room-details a {
    color: #444;
}

.home-room-details i{
    color: #e4b248;
}

.room-rating ul li {
    float: left;
    margin-right: 5px;
}

.room-rating ul li i {
    color: #e4b248;
    font-size: 10px;
}

.room-rating ul li i.inactive {
    color: #c6c6c6;
}

.room-image {
    position: relative;
    overflow: hidden;
}

.home-room-box:hover .home-room-details{
    height: 70px;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

.home-room-details {
    position: absolute;
    bottom: 0px;
    padding: 10px;
    padding-top: 7px;
    background: rgba(255,255,255,0.9);
    width: 100%;
    height: 40px;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

.room-details {
    margin: 25px 0;
}

.room-bottom h4 {
    color: #e4b248;
}

.room-bottom-time {
    font-size: 9px;
    color: #979797;
}

.room-features {
    position: absolute;
    background: rgba(0,0,0,0.8);
    padding: 1px 12px;
    color: #FFF;
    font-size: 9px;
    top: 9px;
    right: 10px;
    letter-spacing: 0.0725em;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.room-features i {
    padding-right: 5px;
}

.home-room-box:hover  .room-features {
    background: rgba(0,0,0,1);
}

.flexslider-thumb .flex-control-nav li{
    width: 126px;
}

.flexslider-thumb{
    margin-bottom: 30px;
}

@font-face {
    font-family: 'weather';
    src: url('artill-clean-icons/artill_clean_icons-webfont.eot');
    src: url('artill-clean-icons/artill_clean_icons-webfont.eot%3F') format('embedded-opentype'),
         url('artill-clean-icons/artill_clean_icons-webfont.woff') format('woff'),
         url('artill-clean-icons/artill_clean_icons-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }

#weather{
    padding-top: 10px;
}

#weather i {
  color: #b4b4b4;
  font-family: weather;
  font-size: 130px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
}

#weather .pull-left{
    margin-top: -30px;
}

#weather h3{
    font-size: 14px;
    padding-left: 10px;
}

#weather h3:first-child{
    margin-top:40px;
}

/*-----------------------------------------------------------------------------------*/
/*  Parallax
/*-----------------------------------------------------------------------------------*/

.parallax{
    position: relative;
    width: 100%;
    background-attachment: fixed !important;
    background-size: cover !important;
    background-repeat: repeat-y;
    background-position: top center;
}

.parallax-one {
    background: url('../temp/parallax.jpg');
    height: 380px;
    padding: 100px 0;
}

/*-----------------------------------------------------------------------------------*/
/*  Support
/*-----------------------------------------------------------------------------------*/

.support-box {
    position: relative;
    background: rgba(255,255,255,0.95);
    padding: 10px 50px;
    padding-top: 60px;
}

.support-box-title {
    position: absolute;
    background: rgba(36,57,66,0.8);
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 50%;
    top: -30px;
    left: 50%;
    margin-left: -30px;
}

.support-box-title i {
    color: #FFF;
    font-size: 18px;
    padding-top: 22px;
}

/* Flip Card */
.flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    transform-style: preserve-3d;
    -ms-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d; 
    -ms-transform-style: preserve-3d; 
}

.flip-container:hover .back {
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
}
.flip-container:hover .front {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
}

/* END: Accommodating for IE */

.flip-container, .front, .back {
    width: 100%;
    height: 225px;
}

/* flip speed goes here */
.flipper {
    transition: 0.8s;
    transform-style: preserve-3d;
    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;
    transition: 0.8s;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff !important;
}

/*  UPDATED! front pane, placed above back */
.front {
    z-index: 2;
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(-180deg);
}

/*-----------------------------------------------------------------------------------*/
/*  Newsletter
/*-----------------------------------------------------------------------------------*/
.newsletter-wrapper{
    display: inline-block;
}

.newsletter-top {
    width: 60%;
    border-bottom: solid 1px #f1f1f1;
    margin: 0 auto;
    padding-bottom: 30px;
}

.newsletter-section {
    margin: 0 auto;
}

.newsletter-form h2 {
    font-family: Shadows Into Light;
    color: #666666;
    margin-right: 40px;
}

.newsletter-form  input {
    height: 41px;
    width: 280px;
    padding-left: 10px;
}

input[type="submit"] {
    margin-left: 20px;
    border: solid 1px #e4b248;
    background: #e4b248;
    padding: 6px 0;
    text-align: center;
    width: 110px;
    font-family: Varela Round;
    font-size: 12px;
    color: #FFF;
    letter-spacing: 0.0725em;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

input[type="submit"]:hover {
    background: #0c242e;
    border: solid 1px #0c242e;
}

.newsletter-form  ::-webkit-input-placeholder {
    color: #959595;
}

/*-----------------------------------------------------------------------------------*/
/*  Footer
/*-----------------------------------------------------------------------------------*/

.footer {
    background: #f4f4f4;
    line-height: 25px;
}

.main-footer {
    padding: 60px;
    font-size: 12px;
    border-bottom: solid 1px #eeeeee;
}

ul.footer-links {
    margin-top: 30px;
}

ul.footer-links li i {
    color: #e4b248;
    padding-right: 10px;
}

.footer-logo {
    height: 160px;
    line-height: 160px;
}

.footer-logo img {
    display: inline-block;
}

.pre-footer {
    font-size: 12px;
    padding: 10px 0;
    padding-bottom: 20px;
    padding-bottom: 0px;
}

.pre-footer ul li {
    float: left;
    margin-right: 5px;
}

.pre-footer p {
    color: #333;
    margin-right: 10px;
    margin-top: 2px;
}

/*-----------------------------------------------------------------------------------*/
/*  Breadcrumb
/*-----------------------------------------------------------------------------------*/


.breadcrumb {
    padding: 80px 0;
    border-radius: 0 !important;
}


.breadcrumb-1 {
    background: url(../temp/breadcrumb-1.jpg) no-repeat fixed;
    background-size: cover;
  
}

.breadcrumb h1 {
    font-family: Varela Round;
    font-size: 45px;
}

/*-----------------------------------------------------------------------------------*/
/*  Accordion
/*-----------------------------------------------------------------------------------*/

.panel {
    margin-bottom: 10px;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
}

.active .plus-box {
    border: 0;
    color: #fff;
}

.panel-style {
    padding: 7px 10px;
    border: solid 1px #e9e8e4;
}

.active-panel .panel-style {
    background: #e4b248;
    border: solid 1px #e4b248;
}

.panel-style a {
    margin-left: 10px;
}

.active-panel .panel-style a {
    color: #FFF;
}

.panel-style h4 {
    font-family: Varela Round;
    font-size: 12px;
}

.tabbed-area h4 {
    margin-bottom: 15px;
}

.tabbed-area li a{
    width: 100%;
    display: inline-block;
    line-height: 45px;
}

/*-----------------------------------------------------------------------------------*/
/*  About Destination & Tab
/*-----------------------------------------------------------------------------------*/

.about-destination-box {
    padding: 20px 0;
    padding-top: 30px;
    border-bottom: solid 1px #f1f1f1;
}

.about-destination-box:first-child {
    padding-top: 0;
}

.about-destination-box a p{
    color: #727272;
}

.tab-style .active-tab h6 {
    color: #e4b248;
}

/*-----------------------------------------------------------------------------------*/
/*  Sidebar
/*-----------------------------------------------------------------------------------*/

.blg-img {
    width: 20%;
}

.blg-txt {
    padding-left: 5%;
    width: 75%;
}

.blg-txt p {
    margin-top: 10px;
    font-size: 12px;
    line-height: 22px;
}

ul.sidebar-recent li {
    margin-bottom: 30px;
}

ul.sidebar-recent li:last-child {
    margin-bottom: 0;
}

ul.sidebar-recent li h5 {
    line-height: 22px;
}

.luxen-widget .title h5 {
    margin-bottom: 20px;
}

.luxen-widget {
    margin-bottom: 60px;
}

ul.social-links li {
    float: left;
}

ul.social-links li i {
    width: 30px;
    height: 30px;
    background: #e4b248;
    border-radius: 50%;
    color: #FFF;
    margin-right: 10px;
    text-align: center;
    padding-top: 9px;
    font-size: 12px;
}

ul.social-links li i:hover {
    background: #0c242e;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.luxen-widget.news-widget .footer-links{
    margin-top: 10px !important;
}

/*-----------------------------------------------------------------------------------*/
/*  Gallery
/*-----------------------------------------------------------------------------------*/

.gallery-box {
    margin-top: 40px;
}

.gallery-box h5 {
    margin-top: 20px;
    line-height: 12px;
}

.gallery-box h6 {
    font-size: 10px;
    color: #e4b248;
}

/*-----------------------------------------------------------------------------------*/
/*  Room List
/*-----------------------------------------------------------------------------------*/

.sortby {
    border-bottom: solid 1px #f1f1f1;
    padding-bottom: 20px;
}

select {
    border: solid 1px #f1f1f1;
    background: #FFF;
    padding: 5px 15px;
}

.sort-icon img {
    margin-left: 10px;
}

table tr.products-title {
    background: #f5f5f5;
    height: 50px;
}

table td.table-products-image {
    width: 10%;
}

.products-image-table {
    padding: 20px;
}

table td.table-products-name {
    width: 55%;
}

table td.table-products-price {
    width: 10%;
}

table td.table-products-total {
    width: 25%;
}

table tr.table-products-list {
    border-bottom: solid 1px #f0f0f0;
}

.table-products-list img {
    max-width: 150px;
}

.title-table {
    text-align: left !important;
    padding: 40px 0;
}

.list-room-icons {
    width: 100%;
}

.list-room-icons ul li {
    float: left;
    margin-right: 10px;
}

.list-room-icons ul li i {
    color: #e4b248;
    font-size: 10px;
}

.room-details-list .room-rating {
    margin-left: 10px;
}

/*-----------------------------------------------------------------------------------*/
/*  Quick reservation
/*-----------------------------------------------------------------------------------*/

.quick-reservation-container {
    background: url(../temp/quick-reservation.jpg);
    padding: 7px;
    margin-bottom: 60px;
}

.quick-reservation {
    border: solid 1px rgba(228,178,72,0.6);
    padding: 10px;
    padding-bottom: 30px;
}

.quick-reservation h5 {
    color: #FFF;
    line-height: 15px;
}

.quick-reservation .title-quick .line {
    width: 23px;
    height: 2px;
    margin: 0 auto;
    display: inline-block;
    background: #e4b248;
}

.quick-reservation input, .quick-reservation select {
    height: 30px;
    border: solid 1px rgba(228, 178, 72, 0.6);
    background: transparent;
    color: #FFF;
    padding-left: 10px;
    width: 100%;
}

label {
    margin-top: 10px;
    width: 100%;
    color: #FFF;
    font-family: Varela Round;
    font-size: 10px;
    letter-spacing: 0.0725em;
}

.quick-reservation .children {
    width: 45%;
}

.quick-reservation .type {
    width: 45%;
    margin-left: 10%;
}

.quick-reservation .rooms {
    width: 45%;
}

.quick-reservation .search-button {
    width: 45%;
    margin-left: 10%;
}

.quick-reservation .button-style-1 {
    margin-top: 40px;
    width: 100%;
}

.quick-reservation .button-style-1 a {
    font-size: 11px !important;
    padding: 8px 15px;
}

/*-----------------------------------------------------------------------------------*/
/*  Room Single
/*-----------------------------------------------------------------------------------*/

ul.room-services {
    margin-top: 30px;
}

ul.room-services i {
    color: #e4b248;
    padding-right: 10px;
}

ul.room-services li {
    margin-bottom: 7px;
}

ul.tabbed-area li {
    float: left;
    width: 33%;
    border: solid 1px #f1f1f1;
    padding: 0 20px;
}

ul.tabbed-area li.active {
    background: #e4b248;
    border: solid 1px #e4b248;
}

ul.tabbed-area li.active a {
    color: #FFF;
}

/*-----------------------------------------------------------------------------------*/
/*  Contact Form
/*-----------------------------------------------------------------------------------*/

.contact-form input[type="text"] {
    width: 60%;
    margin-bottom: 10px;
    height: 46px;
    border: solid 1px #f1f1f1;
    padding-left: 10px;
    padding-top: 10px;
}

.contact-form textarea {
    width: 100%;
    border: solid 1px #f1f1f1;
    height: 300px;
    padding-left: 10px;
    padding-top: 10px;
}

.contact-form  ::-webkit-input-placeholder {
    color: #666;
}

.error-page-container {
    margin-top: 15%;
}

.maps{
    width: 100%;
    height: 300px;
}

/*-----------------------------------------------------------------------------------*/
/*  Error Page
/*-----------------------------------------------------------------------------------*/

.big-error-number {
    font-size: 180px;
}

.error-page-container .button-style-1 {
    margin-top: 100px;
    margin-bottom: 15%;
}

/*-----------------------------------------------------------------------------------*/
/*  Blog
/*-----------------------------------------------------------------------------------*/

.blog-post {
    margin-top: 60px;
}

.post-materials ul li {
    float: left;
    margin-right: 30px;
}

.post-materials ul li a {
    color: #333;
}

.post-materials ul li i {
    color: #e4b248;
    padding-right: 10px;
}

.post-materials h6 {
    font-size: 10px;
}

.blog-share-tags {
    padding-bottom: 35px;
    border-bottom: solid 2px #eaeaea;
}

.blog-tags ul li {
    float: left;
    position: relative;
    margin: 0 5px;
}

.blog-tags .title i {
    font-size: 15px;
    color: #e4b248;
    margin-right: 10px;
}

.blog-tags ul li.title {
    float: left;
    margin-left: 0;
}

.blog-tags ul li a {
    background: #f1f1f1;
    font-size: 11px;
    padding: 5px 10px;
    color: #666;
    border-radius: 15px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.blog-tags ul li a:hover {
    background: #e4b248;
    color: #FFF;
}

.blog-tags ul li.title:after, .blog-tags ul li:last-child:after {
    display: none;
}

.blog-share ul li {
    float: left;
    position: relative;
    margin: 0 25px;
}

.blog-share ul li:last-child {
    margin-right: 0;
}

.blog-share ul li i.fa-facebook {
    color: #3B5998;
}

.blog-share ul li i.fa-twitter {
    color: #55ACEE;
}

.blog-share ul li i.fa-pinterest {
    color: #CC2127;
}

.blog-share ul li i.fa-google-plus {
    color: #DD4B39;
}

.blog-share ul li.title {
    float: left;
    margin-left: 0;
    margin-right: 15px;
}

.blog-share ul li a {
    color: #666;
}

.blog-share ul li:after {
    content: "|";
    position: absolute;
    top: -3px;
    right: -25px;
    font-size: 7px;
}

.blog-share ul li.title:after, .blog-share ul li:last-child:after {
    display: none;
}

/*-----------------------------------------------------------------------------------*/
/*  Comments
/*-----------------------------------------------------------------------------------*/

.write-comment-box {
    padding: 40px;
}

.write-comment a {
    color: #666;
}

.comment-box {
    background: #f5f5f5;
    padding: 30px;
}

.comment-author-image img {
    width: 75px;
}

.write-comment-box input[type="submit"] {
    float: right;
}

.children li {
    margin-left: 15%;
    position: relative;
    height: auto !important;
}

.children li.comment-box:after {
    content: '';
    position: absolute;
    left: -80px;
    top: -15px;
    height: 80px;
    width: 40px;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.children > .children li {
    margin-left: 30%;
    position: relative;
    height: auto !important;
}

.children > .children li:after {
    content: '';
    position: absolute;
    left: -80px;
    top: -15px;
    height: 80px;
    width: 40px;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

/*-----------------------------------------------------------------------------------*/
/*  Under Construction
/*-----------------------------------------------------------------------------------*/

#under-construction-page {
    background: url(../temp/slider-2.jpg) !important;
    height: 100%;
}

.mask {
    height: 100%;
    background: rgba(0,0,0,0.6);
}

#under-construction-page .logo {
    max-width: 180px;
    margin: 0 auto;
}

#under-construction-page .cons-line {
    width: 50%;
    margin: 0 auto;
    height: 1px;
    background: rgba(255,255,255,0.1);
}

#under-construction-page h1 {
    color: #FFF;
}

#under-construction-page p {
    color: #FFF;
    font-family: Varela Round;
    font-size: 12px;
    max-width: 50%;
    margin: 0 auto;
}











.breadcrumb{
    margin-bottom: 0;
}

.free-book{
    background: #162229;
}

.free-book .book-slider{
    position: relative;
    bottom: 0;
    width: 100%;
    height: auto;
    padding: 140px 0;
    background: transparent;
}



.light-book-form input[type="text"]{
    width: 100%;
    border:solid 1px #f0f0f0;
    height: 44px;
    padding-left: 10px;
    padding-right: 10px;
    color: #333;
}



.light-book-form ::-webkit-input-placeholder {
    color: #555;
    font-size: 11px;
}

.light-book-form label{
    color: #111;
    text-align: left;
    font-size: 13px;
    text-transform: none;
    margin-top: 40px;
    font-weight: normal;
}

.light-book-form .sod_select{
   color: #555;
   border:solid 1px #f0f0f0;
   border-radius: 0;
   height: 44px;
   width: 100%;
}

.light-book-form .li-select{
    float: left;
    width: 32%;
    margin-right: 2%;
}

.light-book-form .li-select.no-margin{
    margin-right: 0;
}

.reset-clearfix{
    clear: both;
}

.light-book-form .sod_label{
    padding-top: 5px;
}


.light-book-form .reservation-confirm{
    color: #333;
}

.white-title h2{
    color: #FFF;
}
